
.flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-card {
    background-color: lightblue;
    margin: 5px 10px;
    height: 60px;
}

.container {
    border: 1px solid grey;
    padding: 10px;
}

.accordion{
    transition: transform .5s ease;
    border: 1px solid black;
    border-radius: 4px;
}